html{
    background:#ff785a;
}
html:hover .spider {
    top: -120%;
}
.spider {
    position:absolute;
    display:inline-block;
    top:0;
    left:30%;


animation: swing 2s infinite;
transform-origin: top;
transform: 1s ease-in-out;

}
.spider .spiderweb {
    width: 2px;
    height: 200px;
    margin-left: 49px;
    background: rgba(255,255,255,.7);
}

.spider .body {
    width: 100px;
    height: 80px;
    background: black;
    position: relative;
    border-radius: 50%;
}